# vim: sts=2 ts=2 sw=2 et ai
{% set users = salt['grains.filter_by']({
  'Debian': {
    'sudoers_dir': '/etc/sudoers.d/',
    'sudoers_file': '/etc/sudoers',
    'root_group': 'root',
    'visudo_shell': '/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
  },
  'Gentoo': {
    'sudoers_dir': '/etc/sudoers.d/',
    'sudoers_file': '/etc/sudoers',
    'root_group': 'root',
    'visudo_shell': '/bin/bash',
    'bash_package': 'app-shells/bash',
    'sudo_package': 'app-admin/sudo',
  },
  'FreeBSD': {
    'sudoers_dir': '/usr/local/etc/sudoers.d/',
    'sudoers_file': '/usr/local/etc/sudoers',
    'root_group': 'wheel',
    'visudo_shell': '/usr/local/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
  },
  'default': {
    'sudoers_dir': '/etc/sudoers.d/',
    'sudoers_file': '/etc/sudoers',
    'root_group': 'root',
    'visudo_shell': '/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
  },
}, merge=salt['pillar.get']('users:lookup')) %}
